/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
}

.content {
    width: 80%;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    color: #2980b9;
}

